header{
    padding: 20px;
    text-align: center;
}
header  .head-logo{
    display: inline-block;
    float: left;
}
header .head-logo img{

}
header .menu{
    display: inline-block;
}
header .menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
}
header .menu ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
header .search-icon{
    display: inline-block;
    float: right;

}
header .search-icon a{
    margin-left: 10px;
    color: black;    
}

/***************SERVICES*************/

.jewelry .services img {
    width: 70px;
}

.jewelry .services {
    padding: 120px 30px;
}

.jewelry .services .free-ship {
    padding-left: 35px;
}

.jewelry .services-title {
    display: inline-block;
    padding-left: 15px;
}

.jewelry .services-title p {
    font-size: 14px;
    color: #876C43;
}

.jewelry .services-title h4 {
    font-weight: 700;
    font-size: 18px;
}

.jewelry .services .support img {
    position: relative;
    top: -16px;
}

.jewelry .services .pay-secure img {
    position: relative;
    top: -16px;
}

.jewelry .services .free-ship img {
    position: relative;
    top: -16px;
}


/***************HOT DEALS*************/

.jewelry .hot-deals {
    text-align: center;
    background-color: #F7F7F7;
    padding: 40px;
}

.jewelry .hot-deals img {
    width: 100%;
}

.jewelry .hot-deals>h2 {
    color: #876C43;
    font-weight: 700;
    font-size: 37px;
}

.jewelry .hot-deals .single-hot {
    display: inline-block;
    background: white;
    margin: 40px 5px;
}

.jewelry .hot-deals .single-hot .title-hot p {
    font-size: 20px;
    font-weight: 600;
}

.jewelry .hot-deals .single-hot .title-hot .p-thr {
    font-size: 18px;
    color: #C1C1C1;
    text-decoration: line-through;
    padding-right: 10px;
}

.jewelry .hot-deals .single-hot .title-hot .price {
    color: #9D7938;
    font-size: 20px;
}


/***************CATEGORY*************/

.jewelry .best-categories {
    text-align: center;
    padding: 30px 0px 100px 0px;
}

.jewelry .best-categories>p {
    font-size: 37px;
    font-weight: 700;
    margin-top: 40px;
}


/*****neckless cat******/

.jewelry .best-categories .neckless-cat {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #F7F7F7;
    top: 50px;
    padding-bottom: 65px;
}

.jewelry .best-categories .neckless-cat a img {
    width: 81%;
}

.jewelry .best-categories a {
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.jewelry .best-categories .neckless-cat a span {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    font-size: 20px;
}


/*****cat middle sec******/

.jewelry .best-categories img {
    width: 100%;
}

.jewelry .best-categories .cat-middle-sec {
    display: inline-block;
    position: relative;
    top: 50px;
}


/*****wedding rings******/

.jewelry .best-categories .cat-middle-sec .wedding-rings {
    position: relative;
    background-color: #F7F7F7;
}

.jewelry .best-categories .cat-middle-sec .wedding-rings span {
    position: absolute;
    top: 15px;
    z-index: 2;
    right: 15px;
    text-align: left;
    font-size: 20px;
}


/*****diamond jewelry******/

.jewelry .best-categories .cat-middle-sec .diamond-jewelry {
    position: relative;
    background-color: #F7F7F7;
    margin-top: 25px;
}

.jewelry .best-categories .cat-middle-sec .diamond-jewelry p {
    position: absolute;
    bottom: 0;
    right: 30px;
    font-size: 12px;
    font-weight: 500;
}

.jewelry .best-categories .cat-middle-sec .diamond-jewelry span {
    position: absolute;
    z-index: 2;
    right: 15px;
    text-align: left;
    top: 15px;
    font-size: 20px;
}


/*****earrings cat******/

.jewelry .best-categories .earrings-cat {
    position: relative;
    background-color: #F7F7F7;
    display: inline-block;
    top: 50px;
    padding-bottom: 20px;
}
.jewelry .best-categories .earrings-cat img{
    width: 93%;
}
.jewelry .best-categories .earrings-cat span {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    font-size: 20px;
}


/***************NEW PRODUCTS*************/

.new-products {
    background-color: #F7F7F7;
    text-align: center;
    padding: 35px;
}

.new-products>p {
    font-size: 21px;
    font-weight: 600;
}

.new-products .new-stars i:nth-child(2) {
    font-size: 24px;
}

.new-products .new-stars {
    position: relative;
    margin: 10px 0px 30px 0px;
}

.new-products .new-stars::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 5%;
    border-top-width: 1px;
    border-top-style: solid;
    color: #707070;
    margin: 0 auto;
    display: block;
    text-align: center;
    right: 56rem;
}

.new-products .new-stars::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 5%;
    border-top-width: 1px;
    border-top-style: solid;
    color: #707070;
    margin: 0 auto;
    display: block;
    text-align: center;
    left: 56rem;
}


/*****single new product******/

.new-products .single-new-product {
    border: 1px solid #DCDCDC;
    text-align: left;
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 15px;
}

.new-products .single-new-product img {
    width: 100%;
}

.new-products .single-new-product .single-new-product-in {
    margin-left: 16px;
}

.single-new-product .title-new-product {
    position: relative;
}

.new-products .single-new-product .title-new-product::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    border-top-width: 1px;
    border-top-style: solid;
    color: #D4D4D4;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.new-products .single-new-product .title-new-product .new-product-name {
    padding: 10px 5px;
}

.new-products .single-new-product .title-new-product .new-product-name p {
    font-size: 18px;
    margin: 0;
}

.new-products .single-new-product .title-new-product .new-product-name {
    display: inline-block;
}

.new-products .single-new-product .title-new-product .new-product-name .new-products-stars {
    color: #9D7938;
    font-size: 12px;
}

.new-products .single-new-product .title-new-product .new-product-price {
    display: inline-block;
    float: right;
    margin-top: 13px;
}

.title-new-product .new-product-price p {
    margin: 0;
}

.title-new-product .new-product-price p:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    color: #9D7938;
}

.title-new-product .new-product-price p:nth-child(2) {
    font-size: 14px;
    text-decoration: line-through;
    color: #C1C1C1;
}


/***************WEDDING RINGS*************/

.wedd-rings {
    padding: 50px;
}

.wedd-rings .wedd-img {
    padding: 20px;
    position: relative;
}

.wedd-rings .wedd-img img {
    width: 100%;
}

.wedd-rings .wedd-img h3 {
    position: absolute;
    top: 30%;
    right: 0;
    left: 45%;
    font-size: 35px;
    font-weight: 700;
}

.wedd-rings .wedd-img a {
    position: absolute;
    top: 45%;
    right: 31%;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.wedd-rings .best-carr p {
    font-size: 24px;
    font-weight: 600;
}

.wedd-rings .new-carr p {
    font-size: 24px;
    font-weight: 600;
}

.wedd-rings .wedd-carr {
    padding: 20px;
}


/*********carrousell**********/

.single-best-carr a {
    text-decoration: none;
}

.single-best-carr {
    border: 1px solid #dcdcdc;
    padding: 2px 0px 0px 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.single-best-carr .single-carr-img {
    padding: 0;
}

.single-best-carr .best-carr-pro span {
    color: black;
}

.single-best-carr .best-carr-pro .best-carr-price p:nth-child(1) {
    font-size: 15px;
    text-decoration: line-through;
    color: #c1c1c1;
    display: inline-block;
}

.single-best-carr .best-carr-pro .best-carr-price p:nth-child(2) {
    display: inline-block;
    font-size: 17px;
    display: inline-block;
    color: #9e8d59;
}

/***************RESPONSIVE**************/
@media only screen and (max-width: 1205px){
    .support img{
        width: 50%;
    }
    
}
/***************FOOTER**************/
footer{
    margin-top: 30px;
    padding: 25px;
    border-top: 1px solid rgb(209, 209, 209);
}
footer .footer-logo img{
    display: block;
}

footer .footer-logo .footer-title{
    padding: 25px;
}
footer .footer-contact {
    padding: 5px;
}
footer .contact-items{
    padding: 18px;
}
footer .contact-items .contact-item span{
    font-size: 14px;
}
footer .footer-contact ul li{
    list-style: none;

}
footer .footer-contact ul{
    padding: 20px;
}
footer .footer-contact ul li a{
    font-size: 14px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}
footer .footer-social{
    padding: 5px;
}
footer .footer-social h5{
    margin-bottom: 35px;
}
footer .footer-social a{
    color: #9e8d59;
    margin-left: 10px;
    font-size: 18px;
    border: 1px solid #a99e7e;
    padding: 5px 8px;
    border-radius: 64%;
}