.Contact-Us .container {
    padding: 0px 150px 0px 150px;
}

.Contact-Us .title {
    padding: 17px 0px 10px 0px;
    background-color: #F6F6F6;
    text-align: center;
    border: 1px #C1C1C1 solid;
}

.Contact-Us .title h2,
p {
    color: black;
}

.Contact-Us .title p {
    font-size: 14px;
}

.Contact-Us .title p span {
    color: #9D7938;
}

.Contact-Us .section {
    margin: 0 auto;
}

.Contact-Us .form form {
    text-align: center;
    padding: 30px;
    border: 1px #C1C1C1 solid;
    border-radius: 3px;
    margin-top: 100px;
    width: 100%;
    box-shadow: 0px 0px 5px #80808073;
}

.Contact-Us .form form .user {
    width: 100%;
    display: flex;
}

.Contact-Us .form form .user input:last-child {
    margin-left: 15px;
}

.Contact-Us .form form input {
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px 0px 20px 19px;
}

.Contact-Us .form form textarea {
    width: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 0.25rem;
    padding: 20px;
    color: #212529a8;
    font-size: 1rem;
    font-weight: 700!important;
}

.Contact-Us .form form .SEND button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    margin-top: 13px;
    width: 100%;
    color: #1C1C1C;
    background-color: white;
    border: 1px solid #9D7938;
    transition: 0.5s;
}

.Contact-Us .form form .SEND button:hover {
    background-color: #9D7938;
    color: white;
    transition: 0.5s;
}

.Contact-Us .Information {
    padding: 50px;
    margin-top: 172px;
    background-color: rgba(157, 121, 56, 56%);
}

.Contact-Us .form-col,
.Information-col {
    padding: 0;
}

.Contact-Us .Information .Adsress p:first-child,
.Phone p:first-child,
.Email p:first-child {
    font-size: 15px;
    color: white;
}

.Contact-Us .Information .Adsress p:last-child,
.Phone p:last-child,
.Email p:last-child {
    font-size: 15px;
    color: #282828;
}

.Contact-Us .Information .Adsress,
.Phone {
    border-bottom: 1px solid #8B8B8B;
    width: 75%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
    .Contact-Us .container {
        padding: 20px;
    }
}