
ol, ul {
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

.products {
	padding-bottom: 1px;
	overflow: hidden;
}

.products h4 {
	color: #939597;
	font-family: "Novecentowide";
	font-size: 24px;
	padding: 0 0 22px;
}

.products .btn-add {
	height: 40px;
	background-color: #cecece;
	display: block;
	color: #656567;
	font-family: "Novecentowide";
	font-size: 12px;
	font-weight: 500;
	line-height: 40px;
	margin: 0 32px;
}

.products .btn-add:hover {
	background: #656567;
	color: #fff;
	text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.products h3 {
	color: #656567;
	font-family: "Novecentowide";
	font-size: 12px;
	font-weight: 600;
	margin: 22px 0 0;
}

.products article {
	width: 235px;
	padding: 18px 0 0;
	height: 405px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	text-align: center;
	float: left;
	margin: 0 0 -1px -1px;
}

.pagination {
	text-align: center;
	font-size: 0;
	display: inline-block;
	margin: 20px 0;
}

.products-wrap + .pagination {
	margin: 30px 0 0;
}

.pagination span {
	display: inline-block;
	background: url(../images/ico_pagination.png) no-repeat;
	width: 30px;
	height: 30px;
	margin: 1px;
}

.pagination a:hover,
.pagination .active a {
	text-decoration: none;
	background-color: #cecece;
}

.pagination span.ico-next {
	background-position: 100% 0;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	margin-left: -1px;
}

.pagination li a {
	width: 33px;
	vertical-align: top;
	text-align: center;
	color: #656567;
	font-family: "Novecentowide";
	font-size: 12px;
	font-weight: 500;
	line-height: 29px;
	height: 33px;
	border: 1px solid #cdcdcd;
	background-color: #fff;
	display: inline-block;
}

.products-wrap {
	overflow: hidden;
	margin-top: 20px;
}


#sidebar {
	float: left;
	background: #876C43;
	width: 234px;
	padding: 28px 30px;
	padding-bottom: 950px;
	margin-bottom: -900px;
}

#sidebar label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 21px;
	height: 21px;
	background: #222;
}


#sidebar label {
	padding-left: 30px;
	position: relative;
	height: 21px;
	color: #d8d8d8;
	margin-bottom: 10px;
	font-size: 14px;
	display: block;
	line-height: 21px;
}

#sidebar .widget:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#sidebar .widget {
	border-bottom: 1px solid #474747;
	padding: 30px 0 19px;
	margin-bottom: -11px;
}

#sidebar .widget h3 {
	padding-bottom: 10px;
	color: #fff;
	font-family: "Novecentowide";
	font-size: 14px;
	font-weight: 500;
}

/*******************************/
article img{
	width: 100%;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: 0;
	opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 2.3em;
	font-size: 1.05em;
	line-height: 1.7;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	-webkit-transition: all .275s;
			transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✕';
	position: absolute;
	top: .525em;
	left: .18em;
	font-size: 1.375em;
	color: white;
	line-height: 0;
	-webkit-transition: all .2s;
			transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0) rotate(45deg);
			transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0);
			transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
	color: #777;
}

[type="checkbox"]:disabled + label {
	color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(255, 255, 255, 0.2);
}

form p {
margin: 15px 0;
color: #34495E;
}

.range{
	background-color: #000;
}

.title {
    padding: 17px 0px 10px 0px;
    background-color: #F6F6F6;
    text-align: center;
    border: 1px #C1C1C1 solid;
}
.title h2,
p {
    color: black;
}

.title p {
    font-size: 14px;
}

.title p span {
    color: #9D7938;
}
